@*
    This is shown after you delete a movie
*@
@{
}
@model Movies

<div class="text-center">
    <h2>Confirm Deletion For:</h2>
    <h3>@Model.Title</h3>
    <form method="post">
        <input type="hidden" asp-for="MovieID" />
        <button class="btn btn-danger" type="submit">Delete</button>
        <br />
        <a class="btn btn-info" asp-controller="Home" asp-action="MovieList">Cancel</a>
    </form>
</div>
