@* Home page of the website. Nothing fancy *@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/imgs/joel.jpg" height="400px"/>
</div>
