@* This page is for all of the Joel trivia info. It contains the links to more Joel stuff *@

@{
    ViewData["Title"] = "Joel Trivia";
}

<div class="text-center">
    <h1 class="display-4">Get to know Joel Hilton</h1>
    <br />
    <br />
    <a href="https://www.qwcomedy.com/">See Joel in his natural habitat</a>
    <br />
    <a href="https://baconsale.com/">Listen to Joel discuss his favorite movies</a>
    <br />
    <br />

    <a href="https://baconsale.com/"><img src="~/imgs/gang.jpg" height="400px" /></a>
</div>