@* This is the page that the user is brought to after submitting a movie into the database *@

@{
    ViewData["Title"] = "Submission";
}
@model Movies
<div class="text-center">
    <h1 class="display-4"> Congrats, you entered into the Movie Database:<br />@Model.Title</h1>
</div>
