@* This is the page that the user is brought to after submitting a movie into the database *@

@{
    ViewData["Title"] = "Submission";
}
<div class="text-center">
    <h1 class="display-4"> Congrats, you submitted a response</h1>
</div>
